<html>
  <head></head> 
  <body>
    <p>
    <h1>The Guessing Game!</h1>
      ENTER YOUR GUESS HERE: <br>
      <form>
  		<input type='text' name='guess' />
  		<input type='submit' value='Guess!' />
	</form>
    </p>
  </body>
</html>
You're guess is <%= guess %>
<p>
<a href="https://github.com/iftekarrafi/web_guesser"><img src="http://en.gravatar.com/userimage/52627473/0f8c3ca0b02dc25fa2b916823cd36d9c.jpg?size=200"></a>
<p>
Click The Pic To Check Out The Code
