<html>
  <head></head> 
  <body>
    <p>
      <%if guess == "Way Too High" ||  guess == "Way Too Low" %>
        <body style='background: #EC0000'> 
        
        <%elsif guess == "Too High!" ||  guess == "Too Low" %>
        <body style='background: #EE4E4E'>

        <%elsif guess == "Correct, the secret number was #{number}"%>
        <body style='background: #09EC2F'>
          <p style= "text-align: center;">      
          <img src="http://25.media.tumblr.com/tumblr_mdgfpehkYN1r8cvzdo1_500.gif"></a>
          <%end%>
    
    <p style= "text-align: center;">
      <font size="10">The Guessing Game!</font>
    <p> 
      <p style= "text-align: center;">
        ENTER YOUR GUESS HERE [1-100]: <br>
        The Secret Number Is <%=number%> 
    <p>
      <form>
      <p style= "text-align: center;">
  		<input type='text' name='guess' />
  		<input type='submit' value='Guess!' />
    <p>
      <p style= "text-align: center;">
      </html>You're guess is <%= guess %>
    <p>
      <p style= "text-align: center;">
      You Only Have 5 Tries Before The Number Refreshes
	</form>
    </p>
  </body>
<p>
